#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sign-in {
  color: white;
}

.game-image{
  display: flex;

  border: 10px solid aliceblue;
  width: 1250px;
  height: 400px;

}