#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.sign-in {
  color: white;
}

.game-card {
  border: 5px solid aliceblue;
  height: 650px;
  width: 350px;
  border-radius: 10%;
}

.game-image {
  display: flex;

  border: 10px solid aliceblue;
  width: 1250px;
  height: 400px;
}
.game-image2 {
  display: flex;
  border: 2px solid aliceblue;
  height: 400px;
  width: 100%;
  border-radius: 10%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
